<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Boston Subway & Hubway Tracker</title>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { width: 800px; height: 600px; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXTd7O08ocftNQ_phwWOE57lZytjVlxxU&sensor=true">
    </script>
    <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
    <script type="text/javascript">
      var stops = [
        <% for s in @stops %>
        {name: '<%=s[:name]%>', lat: <%=s[:lat]%>, lon: <%=s[:lon]%>, line1: '<%=s[:line1]%>', stop1: '<%=s[:stop1]%>', line2: '<%=s[:line2]%>', stop2: '<%=s[:stop2]%>'},
        <% end %>
      ];

      var setFullSizeIfPhone = function() {
        if (navigator.userAgent.indexOf('iPhone') != -1 || navigator.userAgent.indexOf('Android') != -1 ) {
          $("#map_canvas").width('100%').height('100%');
        }
      }

      var trainTimesString = function(times) {
        var result = '';
        for (var i = 0; i < times.length; i++) {
          result += times[i];
          if (i < times.length - 1) {
            result += ", ";
          }
        }
        if (times.length === 0) {
          result += "No trains";
        }
        return result;
      };

      var makeStopInfo = function(s, result1, result2) {
        var data1 = result1[0];
        var data2 = result2 ? result2[0] : null;
        var $v = $("<div>").append("<strong>" + s.name);
        $v.append("<div><em>" + data1.direction1 + ": " + trainTimesString(data1.times1));
        $v.append("<div><em>" + data1.direction2 + ": " + trainTimesString(data1.times2));
        if (data2) {
          $v.append("<div><em>" + data2.direction1 + ": " + trainTimesString(data2.times1));
          $v.append("<div><em>" + data2.direction2 + ": " + trainTimesString(data2.times2));
        }

        return $v.html();
      };

      // A collection of all the markers on the screen
      var markers = [];

      var showMarkers = function(map) {
        var bounds = map.getBounds();
        for (var i = 0; i < markers.length; i++) {
          var visible = bounds.contains(markers[i].getPosition());
          var desiredMap = visible ? map : null;
          if (desiredMap !== markers[i].getMap()) {
            markers[i].setMap(desiredMap);
          }
        }
      };

      $(function() {
        setFullSizeIfPhone();
        var myOptions = {
          center: new google.maps.LatLng(42.35639457,-71.0624242),
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        google.maps.event.addListener(map, 'idle', function() {
          showMarkers(map);
        });

        var infowindow = new google.maps.InfoWindow({
            content: ""
        });

        var request = null;

        if (navigator && navigator.geolocation) {
          var success = function(position) {
            var userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(userLatLng);
          };
          navigator.geolocation.getCurrentPosition(success);
        }

        $.each(stops, function(i, s) {
          var latLng = new google.maps.LatLng(s.lat, s.lon);
          var marker = new google.maps.Marker({
            position: latLng,
            map: null,
            title: s.name,
            icon: 'http://www.google.com/mapfiles/arrow.png'
          });
          markers.push(marker);

          google.maps.event.addListener(marker, 'click', function() {
            var content = "<div><strong>" + s.name + "</div></strong>";
            if (s.line1 && s.stop1) {
              content += "Loading...";
            }
            infowindow.setContent(content); 

            infowindow.open(map,marker);

            if (s.line1 && s.stop1) {
              request1 = $.getJSON('/stopinfo?line=' + s.line1 + '&stop=' + s.stop1);
              request2 = (s.line2 && s.stop2) ? $.getJSON('/stopinfo?line=' + s.line2 + '&stop=' + s.stop2) : $.Deferred().resolve();
              $.when(request1, request2).then(function(result1, result2) {
                infowindow.setContent(makeStopInfo(s, result1, result2));
              });
            }
          });

        });

        $.get('/bikedata-boston').done(function(data) {
          var stations = $.parseXML(data);
          $(stations).find('station').each(function(i, station) {
              var $station = $(station);
              var name = $station.children('name').text();
              var lat = $station.children('lat').text();
              var lng = $station.children('long').text();
              var numBikes = $station.children('nbbikes').text();
              var numEmpty = $station.children('nbemptydocks').text();
              var latLng = new google.maps.LatLng(lat, lng);
              var icon = (Number(numBikes) > 0) ?
                  'http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png' :
                  'http://maps.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png';

              var marker = new google.maps.Marker({
                position: latLng,
                map: null,
                title: name,
                icon: icon
              });
              markers.push(marker);

              google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent("<strong>" + name + "</strong><div><em>" + numBikes + " bikes</em></div><div><em>" + numEmpty + " empty docks</em></div>");
                infowindow.open(map,marker);
              });
          });

          showMarkers(map);
        });

      });
    </script>
  </head>
  <body>
    <div id="map_canvas"></div>
  </body>
</html>
