<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 1000px; width: 400px; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXTd7O08ocftNQ_phwWOE57lZytjVlxxU&sensor=true">
    </script>
    <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
    <script type="text/javascript">
      var stops = [
        <% for s in @stops %>
        {name: '<%=s[:name]%>', lat: <%=s[:lat]%>, lon: <%=s[:lon]%>, line1: '<%=s[:line1]%>', stop1: '<%=s[:stop1]%>', line2: '<%=s[:line2]%>', stop2: '<%=s[:stop2]%>'},
        <% end %>
      ];

      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(42.350851, -71.089886),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

        var infowindow = new google.maps.InfoWindow({
            content: ""
        });

        $.each(stops, function(i, s) {
          var latLng = new google.maps.LatLng(s.lat, s.lon);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title: s.name,
            icon: 'http://www.google.com/mapfiles/arrow.png'
          });

          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(name + "<div>" + s.name + "</div>");
            infowindow.open(map,marker);
          });

        });

        $.get('/bikedata-boston').done(function(data) {
          var stations = $.parseXML(data);
          $(stations).find('station').each(function(i, station) {
              var $station = $(station);
              var name = $station.children('name').text();
              var lat = $station.children('lat').text();
              var lng = $station.children('long').text();
              var numBikes = $station.children('nbbikes').text();
              var numEmpty = $station.children('nbemptydocks').text();
              var latLng = new google.maps.LatLng(lat, lng);          
              var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: name
              });

              google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(name + "<div>" + numBikes + " bikes</div><div>" + numEmpty + " empty docks</div>");
                infowindow.open(map,marker);
              });


          });
        });

      }
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:1000px; height:400px"></div>
  </body>
</html>
