<script type="text/javascript">
  var stops = [
    <% for s in @stops %>
    {name: '<%=s.name%>',
    lat: <%=s.lat%>,
    lon: <%=s.lon%>,
    line1: '<%=s.subway_stops.length >=1 ? s.subway_stops[0].subway_line.name.downcase : "" %>',
    stop1: '<%=s.subway_stops.length >=1 ? s.subway_stops[0].code : "" %>',
    line2: '<%=s.subway_stops.length >=2 ? s.subway_stops[1].subway_line.name.downcase : "" %>',
    stop2: '<%=s.subway_stops.length >=2 ? s.subway_stops[1].code : "" %>'},
    <% end %>
  ];
</script>
<div class="title">Boston Bike App <span class="tagline">Live Hubway & MBTA Subway Map</span></div>
<div id="map_canvas"></div>
<div id="infobox"><div id="infoboxcontent"></div></div>
<div class="footer"><a href="/about">About</a></div>
